body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: #26e4cb
}

h1 {
    background: #e04f0b;
    color: #c7ca22;
    font-size: 30px;
    padding: 25px 5px;
    margin: 10px;
    width: 325px;
}

#instructions {
    background: #df4ac6;
    color: #beee10;
    padding: 10px 5px;
    margin: 10px 10px 5px 10px; 
    width: 500px;
}

.instr {
    margin: 20px 0;
}

#random-number {
    float: left;
    background: #38b313;
    color: #771467;
    font-size: 35px;
    padding: 5px;
    margin: 5px 5px 10px 10px;
    width: 250px;
    height: 100px;
}

#win-loss {
    float: left;
    background: #aeca11;
    color: #090f63;
    padding: 5px;
    margin: 5px 10px 10px 5px;
    width: 100px;
    height: 100px;
}

#win-loss-alert {
    padding: 5px 0;
} 

#wins,
#losses {
    display: inline-block;
    padding: 10px 0;
}

.side {
    display: inline-block;
}

#gems {
    clear: both;
    margin: 10px;
}

button {
    width: 100px;
    height: 100px;
}

.score {
    background: #085e4b;
    color: #f7f7f7;
    padding: 5px;
    margin: 5px 10px;
    width: 250px;
}

#total-score {
    font-size: 35px;
    height: 100px;
    margin-bottom: 30px;
}